pandas==1.2.4
tqdm==4.59.0
scipy==1.6.3
wfdb==3.4.0
seaborn==0.11.1
scikit_multilearn==0.2.0
tensorflow==2.5.0
keras_nightly==2.5.0.dev2021032900
numpy==1.19.5
matplotlib==3.3.4
keras==2.4.3
scikit_learn==0.24.2
wandb==0.10.33